html {
  font-family: Helvetica, Arial, sans-serif;
}

header,
h1,
div {
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 30px;
  color: #000;
}

ul {
  font-weight: bold;
}

h2,
body {
  padding: 0%;
}

h2 {
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  /* background-image: url("eight-hours.jpg"); */
  /* background-size: cover; */
  background-color: #fff;
}

li,
p {
  line-height: 1.5;
}

img {
  width: 100%;
}

.task {
  /* background-color: #a52a2a; */
  text-align: center;
}

.task ul {
  list-style: lower-greek;
  list-style-position: inside;
}
